.app-footer
    &__copyright
        padding: 10px
        display: flex
        flex-direction: column
        align-items: center
        font-size: 14px
        img
            display: block
            max-width: 60px
            height: auto
            margin-bottom: 20px

.link
    text-decoration: none
    color: #2157a1 

@media (max-width: 576px)
    .app-footer
        &__copyright
            text-align: center